* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #1d1d1d;
}

@media print {
  body > a {
    display: none;
  }
  html {
    background-color: white;
  }
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  padding: 0;
  margin: 0;
}

.resume {
  max-width: 1125px;
  background-color: white !important;
  padding-bottom: 1.5rem;
  margin: 0 auto;
}

.content {
  padding: 0rem 3rem;
}

.header,
.summary,
.contact {
  padding: 1rem 3rem;
  color: white;
}

.header {
  background-color: #20a0d0;
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  span {
    font-weight: bold;
  }
  h1 {
    font-weight: 100;
    padding: 0;
  }
  p {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.summary {
  background-color: #20a0d0;
  font-size: 0.9rem;
  line-height: 1.5em;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
  font-weight: 500;
  p {
    max-width: 900px;
  }
}

.contact {
  background-color: #1f718f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
  a {
    color: white;
    text-decoration: none;
  }
  p {
    display: flex;
    align-items: center;
  }
}

.skills {
  padding: 0rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 auto;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
}

.heading {
  font-size: 1.1rem;
  font-weight: bold;
  padding-block: 0.5rem;
  text-align: center;
  color: #1b627d;
}

.section {
  padding: 0rem 0rem 0.5rem 0rem;
}

.certification-item,
.education-item,
.work-experience-item,
.volunteer-experience-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item-header {
  line-height: 1.5rem;
  h3 {
    font-size: 1.1rem;
  }

  + p {
    font-weight: bold;
    text-align: right;
  }
  p,
  i {
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.certifications {
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.education,
.work-experience,
.volunteer-experience {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.job-duties,
.volunteer-duties {
  padding: 1rem 4rem;
  /* width: 90%; */
  grid-column: span 2;
  font-weight: 500;
  p {
    font-size: 1rem;
  }
  li {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
}

.resume-card {
  background-color: #2e3138;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.resumes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 300px));
  gap: 1rem;
  margin: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.profile-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  span {
    background-color: #20a0d0;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
  }
}