{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'builder/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'profile' 2 %}">Profile</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">
      {% block body %}

      {% endblock %}
    </div>
  </body>
</html>
