{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'builder/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <title>Document</title>
  </head>
  <body>
    <h2>Edit Profile</h2>
    {{ profile }}

    <h2>Skills</h2>
    <div class="profile-skills">
      {% for skill in skills %}
        <span>{{ skill.name }}</span>
      {% endfor %}
    </div>

    <h2>Jobs</h2>
    <div class="work-experience">
      {% for job in jobs %}
        <div class="work-item">
          <p>{{ job.company }}</p>
          <p>{{ job.position }}</p>
          <p>
            {% if job.present %}
              {{ job.start_month }} {{ job.start_year }} - Present
            {% else %}
              {{ job.start_month }} {{ job.start_year }} - {{ job.end_month }} {{ job.end_year }}
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>

    <h2>Certifications</h2>
    <div class="certifications-f">
      {% for cert in certifications %}
        <div class="certification-d">
          <p>{{ cert.name }}</p>
          <p>{{ cert.institution }}</p>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
